@font-face {
  font-family: 'Edmondsans';
  src: local('Edmondsans'), url(./fonts/Edmondsans-Medium.otf) format('otf');
  src: local('Edmondsans'), url(./fonts/Edmondsans-Bold.otf) format('otf');
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: #291e50;
}

.App__Form {
  background-color: #ffffff;
  padding: 25px 40px;
  overflow: auto;
  flex: 3;
  order: 2;
  display: flex;
  justify-content: center;
}

.App__Aside {
  flex: 4;
  background-image: linear-gradient(to right, #291e50, #4a3a83);
  order: 1;
}


.FormCenter {
  flex: 1;
  margin-top: 96px;
}

.FormTitle {
  color: #4a4a4a;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #4a4a4a;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: #3c96dc;
  border-bottom: 1px solid #3c96dc;
}

.FormField {
  margin-top: 40px;
}

.FormField__Label {
  display: block;
  font-size: .9em;
  color: #291e50;
}

.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: #291e50;
  outline: none;
  border-bottom: 1px solid #b7b7b7;
  font-size: 1.2em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #b7b7b7;
}

.FormField__Button {
  background-color: #3c96DC;
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 16px 77px;
  font-size: 1.2em;
  font-weight: 700;
  width: 100%;
  margin-top: 24px;
  opacity: 1;
  transition: 0.2s;
}

.FormField__Button:hover {
  background-color: #fab914;
  cursor: pointer;

    {
    opacity: 1
  }
}


.FormField__Link {
  color: #4a4a4a;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #3c96dc;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #4a4a4a;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 0rem;
}

.FormField__TermsLink {
  color: #291e50;
  border-bottom: 1px solid #3c96dc;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

.FormHeaderTitle {
  font-family: Edmondsans;
  font-weight: 500;
  line-height: 4rem;
  color: #291e50;
  Font-size: 2.5rem;
}

.FormSubHeaderTitle {
  font-family: Edmondsans;
  font-weight: 300;
  line-height: 3rem;
  color: #291e50;
  Font-size: 1.2rem;
}

.ImageWrapper {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.ImageStyle {
  width: 50%;
  overflow: hidden;
}

.ThankYouWrapper {
  align-self: center;
}